body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f3f3f3;
}

h1, h2, h3 {
    color: #333;
}

label, select, input {
    margin: 5px;
    display: block;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.categoria {
    margin-bottom: 10px;
}

.categoria-btn {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.categoria-btn:hover {
    background-color: #ccc;
}

.contenido-productos {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

